
.cleanInput{
    //height: 30px;
    //padding: 0px;
    border-style: none none solid !important;
    border-bottom-width: 1px !important;
    //border-bottom-color: silver;
    background-color: transparent !important;
    //font-size: 14px;
}
